body{
    background-color: var(--cuarto-color);
}
/*=============== HOME ===============*/
.home_bg{
    width: 100%;
      background-image: linear-gradient(180deg, #3f3e3f80 0%, rgba(73, 73, 73, 0.5) 35%, rgba(2, 2, 2, 0.597) 100%), url(../img/workheights/banner_alturas.jpeg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding-top: 3.5rem;
}

.home__info{
    position: relative;
    margin-left: 0.75rem;
}
.home__aside{
    background-color: #4c4b4b5a;
}
.home__title{
    font-size: 20px;
    margin: 10px;
    color: var(--sexto-color);
}
.home__subtitle{
    font-size: 14px;
    margin: 10px;
    color: var(--sexto-color);
}
.home__botones{
    margin: 10px;
}


.home__social{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-bottom: 10px;
}
.home__icon{
    color: var(--sexto-color);
    font-size: 1rem;
    transition: color .4s;
}
.home__icon:hover{
    color: var(--first-color);
}



/*=============== ABOUT ===============*/
.about{
     background-color: var(--body-color);
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 1.5rem;
     padding-bottom: 2rem;
     color: var(--cuarto-color);
}
.contenedor__about{
    gap: 1.2rem;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
}
.about__card{
    background-color: #fff;
    position: relative;
    padding: 1.6rem;
    padding-bottom: 2.5rem;
    box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.75);
}
.card__title{
    text-align: center;
    margin-bottom: 10px;
    color: var(--cuarto-color);
    font-size: 20px;
}
.about__titleCard{
    padding: 0.2rem;
    color: var(--cuarto-color);
}
.card__flotante{
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #EB394A;
    right: 0;
    bottom:0;
    border-radius: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__gray{
    background-color: #E6E6E6;
}
.about__textCard{
    color: var(--text-color);
}

/*=============== NUESTRO TRABAJO ===============*/
.nuestro_trabajo{
    background-color: var(--body-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    color: var(--cuarto-color);
}
.nuestro__mainImg{
    display: flex;
    justify-content: center;
    position: relative;
}
.mainImg{
    width: 70%;
}
.container__textImg{
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}
.contaner__secundImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contaner__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    margin: auto auto;
}
.nuestro__text{
    background-color: var(--body-color);
    padding: 0.7rem;
}
.secundImg__text{
    padding: 1rem;
    background-color: #EB394A;
    color: var(--body-color);
}
.img__puntos{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}
.red__subtitulo{
    color: #EB394A;
}
/*=============== BENEFICIOS ===============*/
.beneficios{
     background-color: var(--body-color);
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 1.5rem;
     padding-bottom: 2rem;
     color: var(--cuarto-color);
}
.beneficios__text{
    padding: 1rem;
    width: 90%;
    margin: auto;
    transform: translateY(-50px);
    background-color: var(--body-color);
}
.beneficios__cardTitle{
    margin-bottom: 8px;
    font-size: 18px;
}

/*=============== CALL ACTIONS 2 ===============*/
.callAction_2{
    color: var(--sexto-color);
    background: #575353;
    background: radial-gradient(circle, rgba(87, 83, 83, 1) 0%, rgba(23, 23, 23, 1) 43%);
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.container__callActions_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.callAction_2_card__two{
    transform: scale(1.25);
    transition: all .4s;
}
.callAction_2_text{

    text-align: center;
    margin-top: 2rem;
}
.boton__center{
    display: flex;
    justify-content: center;
}

/*=============== CONTACTO ===============*/
.contacto{
    background-color: #434A51;
    color: var(--sexto-color);
    width: 100%;
    height: 200px;
    margin-top: 0;
    padding-top: 0;
}
.contacto__title{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline #fee0867e 1px ;
    text-underline-offset: 5px;
}
.contacto__contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.boton__container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FEE086;
}
.boton__container:hover{
    background-color: #fff673fa;
    transition: all .4s;

}
.boton__contacto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton__img{
    width: 25px;
    height: 25px;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {

    /*=============== HOME ===============*/
    .home__title{
        font-size: 30px;
        margin: 40px 10px 30px 10px;
    }
    .home_bg{
        height: 400px;
    }

    /*=============== ABOUT  ===============*/
   
}


@media screen and (min-width: 765px) {

    /*=============== HOME ===============*/
    .home__title{
        font-size: 40px;
        margin: 80px 10px 20px 10px;
    }
    .home_bg{
        height: 500px;
        grid-template-columns: 1fr 15fr;

    }
    .home__subtitle{
        font-size: 20px;
        margin: 10px;
    }
    .home__icon{
        font-size: 1.5rem;
    }
    .home__social{
        gap: 30px;
    }
    .home__aside{
        padding-bottom: 20px;
    }

    /*=============== ABOUT ===============*/
    .about{
        margin-bottom: 0;
    }
    .contenedor__about{
        grid-template-columns: repeat(3, 1fr);
    }
                           

    /*=============== CONTACTO ===============*/
    .contacto{
        height: 300px;
    }
    .contacto__title{
        font-size: 60px;
    }
}



/* For large devices */
@media screen and (min-width: 1023px) {
  .section{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

    /*=============== HOME ===============*/
    .home__title{
        font-size: 50px;
        margin: 200px 10px 40px 10px;
    }
    .home_bg{
        height: 700px;
        grid-template-columns:  1fr 20fr;
    }
    .home__info{
        position: relative;
        margin-left: 3rem;
        max-width: 1300px;
    }
    .home__subtitle{
        font-size: 20px;
        margin: 30px 10px;
    }


    /*===============  ABOUT  ===============*/
    .about{
         margin-top: 0;
         margin-bottom: 0;
         padding-top: 5rem;
         padding-bottom: 5rem;
    }
    .about__colors{
        position: absolute;
        top: 2.2rem;
        right: 2rem;
        flex-direction: column;
        align-items: center;
    }

    /*===============  NUESTRO TRABAJO   ===============*/

    .nuestro_trabajo{
         margin-top: 0;
         margin-bottom: 0;
         padding-bottom: 5rem;
    }
    .contenedor__nuestro_trabajo{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .img__puntos{
        left: 30px;
    }
    .contaner__text{
        margin-left: 2rem;
    }
    .nuestro__text{
        padding: 1rem;
    }
    .nuestro__infoTitle{
        text-align: left;
    }
    
    /*===============  GALERIA  ===============*/
    .beneficios{
         margin-top: 0;
         margin-bottom: 0;
         padding-bottom: 5rem;
    }
    .beneficios__subtitulo{
        text-align: center;
    }
    .contenedor__beneficios{
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    /*===============  CALL ACTION 2  ===============*/
    .callAction_2{
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
    .callAction_2_text{
        margin-top: 4rem;
    }
    .callAction_2_card__two{
        transform: scale(1.19);
        transition: all .4s;
    }
}



@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

    /*===============  CALL ACTION  ===============*/
    .callAction{
        height: 780px;
    }

}

@media screen and (min-width: 1550px) {

    /*===============  ABOUT  ===============*/

}